<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>SURVEY RABBIT</h1>
	<h1>
		<span>WELCOME</span>&emsp;<small th:text="${user.username}">Subtitle</small>
	</h1>
	<table>
		<tr>
			<th>Survey</th>
			<th></th>
			<th>No of Responses</th>
			<th></th>
		</tr>
		<th:block th:each="survey : ${surveys}">
			<tr>
				<td th:text="${survey.surveyName}" />
				<td th:if="${user.isAuthor()}"><a href="@{/survey/edit(id=${survey.surveyId})}">Edit</a></td>
				<td th:text="${survey.numberOfResponse}" />
				<td><a th:href="@{/survey/start(id=${survey.surveyId})}">Start</a></td>
			</tr>
		</th:block>
	</table>
	<div>
		<div th:if="${user.isAuthor()}"><a href="@{/survey/create(id=${survey.surveyId})}">Create Survey</a></div>
	</div>
	
	
</body>
</html>

